/* main text color #212121 */
/* secondary text color #757575*/
/* text white #ffffff */
/* main background col #2F303A */
/* white background #FFFFFF */
/* secondary background col #F5F4FA */
/* brand color #2196F3 */
/* text color: rgba(255, 255, 255, 0.6);*/
/* width content 1170px + gatter 30px = 1200px padding left & right 15px */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --brand-color: #2196f3;
  --white-background: #ffffff;
  --secondary-background: #f5f4fa;
  --primary-background: #2f303a;
  --text-rgba: rgba(255, 255, 255, 0.6);
  --logo-color: #afb1b8;
  --logo-bg-color: #43444d;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-background);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style-type: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center; 
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--brand-color);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.nav__logo--color {
  color: #000000;
}
.nav__list {
  display: flex;
  margin-left: 93px;
}
.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.nav__list,
.nav__link.current {
  color: var(--brand-color);
  
}
.current {
  position: relative;
}
.current::after {
  position: absolute;
  display: flex;
  bottom: -1px;

  content: '';
  width: 100%;
  height: 4px;
  
  background-color: var(--brand-color);
  border-radius: 2px;
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact .contact__item + .contact__item {
  margin-left: 50px;
}
.contact__link {
  display: flex;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  color: var(--secondary-text-color);
  align-items: center;
  fill: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.contact__icon {
  margin-right: 10px;
}
/* Hero */
.hero {
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/Img-bg.jpg');
  background-color: var(--primary-background);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 30px;
}
.button {
  color: var(--primary-white-color);
  background-color: var(--brand-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;

  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 216px;
  height: 50px;
  border: 0;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transform: scaleX(1);
  opacity: 1;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scaleX(0);
}
.backdrop.is-hidden .modal {
  transform: scaleY(0.5) translate(-50%, -50%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  
  background-color: #fff;
  padding: 40px;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  background-color: var(--white-background);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  margin-bottom: 2px;
  cursor: pointer;
}

.form__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form__field.comment {
  margin-bottom: 20px;
}
.form__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  text-align: left;
  
}
.form__input {
  margin: 0;
  padding-left: 42px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  
}
.form__icon {
  position: absolute;
  top: 31px;
  left: 15px;
  display: inline-block;

  width: 12px;
  height: 12px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment__text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form__field textarea {
  padding: 12px 16px;
  resize: none;
}
.form__field:focus-within > .form__input {
  border: 1px solid var(--brand-color);
}
.form__field:focus-within > .form__icon {
  fill: var(--brand-color);
}
.form__field:focus-within > .comment__text {
  border: 1px solid var(--brand-color);
}
.checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  background-origin: border-box;
}
.checkbox__icon {
  margin-right: 7px;
  display: inline-block;
  width: 16px;
  height: 15px;
  
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link {
  color: var(--brand-color);
}
.form__button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--brand-color);
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
}
/* Feateures */
.section {
  padding: 94px 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features {
  display: flex;
}
.features__item {
  width: 270px;
}
.features .features__item + .features__item {
  margin-left: 30px;
}
.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

  border-radius: 4px;
  background-color: var(--secondary-background);
}
.features__title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-top: 30px;
  margin-bottom: 10px;
}
.features__text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Gallery */
.gallery-section {
  padding-top: 0;
}
.title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
}
.gallery {
  display: flex;
}
.gallery .gallery__item + .gallery__item {
  margin-left: 30px;
}
.gallery__item {
}
.gallery__img {
  display: block;
  height: auto;
  max-width: 100%;
}
.gallery__thumb {
  position: relative;
}
.gallery__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  color: var(--primary-white-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Team */
.team-section {
  background-color: var(--secondary-background);
}
.team {
  display: flex;
  text-align: center;
}
.team .team__item + .team__item {
  margin-left: 30px;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}
.team__img {
  display: block;
}
.position {
  padding-top: 30px;
  padding-bottom: 30px;
}
.position__title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.position__text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--logo-color);
  fill: var(--logo-color);
  border-radius: 50%;
  background-color: var(--white-background);

  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--brand-color);
  fill: var(--primary-white-color);
  
}
.social__icon {
  color: currentColor;
}
/* Clients */
.client {
  display: flex;
  gap: 30px;
}
.client__item {
  width: 170px;
  height: 92px;
}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--logo-color);
  fill: var(--logo-color);

  width: 100%;
  height: 100%;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: var(--white-background);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover,
.client__link:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}
.client__icon {
  color: currentColor;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__logo--color {
  color: var(--primary-white-color);
}
.footer__contact {
  margin-right: 70px;
}
.address {
  font-style: normal;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--primary-white-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link.call {
  color: var(--text-rgba);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover,
.address__link:focus,
.address__link.call:hover,
.address__link.call:focus {
  color: var(--brand-color);
  
}
.footer-social__title {
  color: var(--primary-white-color);
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social__list {
  display: flex;
  gap: 10px;
}


.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: var(--logo-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 44px;
  height: 44px;
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--brand-color);
}
.footer-social__icon {
  fill: var(--primary-white-color);
}
.follow {
  width: 570px;

  margin-left: auto;
}
.follow__box {
  display: flex;
}
.follow__input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  cursor: pointer;
}
.follow__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.follow__icon {
  margin-left: 10px;
}
/* Portfolio */
/* Filter */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .filter__item + .filter__item {
  margin-left: 8px;
}
.filter__button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;

  display: inline-block;
  border: 0;
  border-radius: 4px;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover,
.filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  
}
/* Works */
.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.works__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__link:hover,
.works__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
   
}
.works__link:hover .works__description {
  transform: translateY(0);
}
.works__link:focus  .works__description {
  transform: translateY(0);
}
.works__thumb {
  position: relative;
  overflow: hidden;
}
.works__img {
  display: block;
}
.works__description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-white-color);
  
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

}
.works__border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.works__title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;

  margin-bottom: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__title:hover,
.works__title:focus,
.works__text:hover,
.works__text:focus {
  color: var(--brand-color);
}